{% extends "base.html" %}
{% block body %}
  <!-- Breadcrumb Start -->
  <div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'pages:index' %}">Əsas səhifə</a></li>
            <li class="breadcrumb-item"><a>Məhsullar</a></li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product List Start -->
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-view-top">
                            <div class="row">
                                <div class="col-md-4">
                                    <form action="{% url 'products:search' %}" method="GET">
                                        {% csrf_token %}
                                        <div class="product-search">
                                        <input name="keyword" placeholder="Axtarış">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-short">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-toggle="dropdown">Product short by</div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">Newest</a>
                                                <a href="#" class="dropdown-item">Popular</a>
                                                <a href="#" class="dropdown-item">Most sale</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-price-range">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-toggle="dropdown">Product price range</div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">$0 to $50</a>
                                                <a href="#" class="dropdown-item">$51 to $100</a>
                                                <a href="#" class="dropdown-item">$101 to $150</a>
                                                <a href="#" class="dropdown-item">$151 to $200</a>
                                                <a href="#" class="dropdown-item">$201 to $250</a>
                                                <a href="#" class="dropdown-item">$251 to $300</a>
                                                <a href="#" class="dropdown-item">$301 to $350</a>
                                                <a href="#" class="dropdown-item">$351 to $400</a>
                                                <a href="#" class="dropdown-item">$401 to $450</a>
                                                <a href="#" class="dropdown-item">$451 to $500</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              
                 {% for product in products  %}
                   
                    <div class="col-md-4">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="{% url 'products:product_item' product.category.slug product.slug product.id %}">{{product.name}}e</a>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img height="300" src="{{product.image1.url}}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3><span>₼</span>{{product.price}}</h3>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>İndi Al</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <!-- Pagination Start -->
                <div class="col-md-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if products.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ products.previous_page_number}}" tabindex="-1">Geri</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="" tabindex="-1">Geri</a>
                            </li>
                            {% endif %}
                          

                            {% for i  in products.paginator.page_range  %}
                              {% if products.number == i %}
                              <li class="page-item"><a class="page-link">{{i}}</a></li>
                               
                              {% else %}
                              <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>

                                
                              {% endif %}
                            {% endfor %}

                            
                            {% if products.has_next %}
                              
                            <li class="page-item">
                                <a class="page-link" href="?page={{ products.next_page_number}}">Növbəti</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Növbəti</a>
                            </li>
                            {% endif %}

                        </ul>
                    </nav>
                </div>
                <!-- Pagination Start -->
            </div>           
            
            <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">
                    <h2 class="title">Kateqoriyalar</h2>
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            {% for category in categories_all  %}
                              
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'products:categories_products' category.slug %}"><i ></i>{{category.name}}</a>
                            </li>
                            {% endfor %}
           
                        </ul>
                    </nav>
                </div>
                
                <div class="sidebar-widget widget-slider">
                    <div class="sidebar-slider normal-slider">
                        {% for product in products_slider %}
                          
                        <div class="product-item">
                            <div class="product-title">
                                <a href="{% url 'products:product_item' product.category.slug product.slug product.id %}">{{product.name}}</a>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img width="100" src="{{product.image1.url}}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3><span>₼</span>{{product.price}}</h3>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>İndi Al</a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            
                <div class="sidebar-widget tag">
                    <h2 class="title">Həştəqlər</h2>
                    {% for tag in tags  %}

                        <a href="{% url 'products:tag_products' tag %}">{{tag}}</a>

                    {% endfor %}

                </div>
            </div>
            <!-- Side Bar End -->
        </div>
    </div>
</div>
<!-- Product List End -->  

<!-- Brand Start -->
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img src="img/brand-1.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-2.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-3.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-4.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-5.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-6.png" alt=""></div>
        </div>
    </div>
</div>
<!-- Brand End -->
{% endblock body %}