    {% load static %}
    <!-- Top bar Start -->
        <div class="top-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-envelope"></i>
                        {{location_main.email}}
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-phone-alt"></i>
                        {{location_main.phone}}
                    </div>
                </div>
            </div>
        </div>
        <!-- Top bar End -->
        
        <!-- Nav Bar Start -->
        <div class="nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            {% if request.path == "/" %}
                            <a class="nav-item nav-link active">Əsas səhifə</a>

                            {% else %}
                            <a href="{% url 'pages:index' %}" class="nav-item nav-link ">Əsas səhifə</a>

                            {% endif %}

                            <a href="product-list.html" class="nav-item nav-link">Məhsullar</a>
                            <a href="my-account.html" class="nav-item nav-link">Hesabım</a>
                            <a href="wishlist.html" class="nav-item nav-link">Yadda saxlanılanlar</a>
                            
                            {% if "aboutus" in request.path %}
                            <a  class="nav-item nav-link active">Haqqımızda </a>

                            {% else %}
                            <a href="{% url 'pages:about' %}" class="nav-item nav-link">Haqqımızda </a>

                            {% endif %}

                            {% if "contactus" in request.path %}
                            <a  class="nav-item nav-link active">Bizimlə Əlaqə</a>

                            {% else %}
                            <a href="{% url 'pages:contactus' %}" class="nav-item nav-link">Bizimlə Əlaqə</a>

                            {% endif %}
                        </div>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Hesab</a>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">Giriş</a>
                                    <a href="#" class="dropdown-item">Qeydiyyat</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->        
        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="{% url 'pages:index' %}">
                                <img src="{% static 'img/logo.png' %}" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <input type="text" placeholder="Axtarış">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user">
                            <a href="wishlist.html" class="btn wishlist">
                                <i class="fa fa-heart"></i>
                                <span>(0)</span>
                            </a>
                            <a href="cart.html" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>(0)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End -->       